@import url(http://fonts.googleapis.com/css?family=Gabriela);

/* === SETUP === */
body, * {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    font-family: 'helvetica', serif;
    /*background: url("../images/img.jpg");*/
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
}

hr {
	height: 1px;
	border: none;
	background: black;
	margin: 20px 0;
	display: block;
}

table {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}
th,td {
    padding: 5px 15px;
}
/* === BUTTONS (WIP) === */
.add-activity-button {
    border: solid;
    padding: 10px 20px;
    background: rgba(0,255,0,0.4);
    position: block;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
}
.add-activity-button:hover {
    background: #dbb761;
}
.add-activity-button:active {
    color: white;
    background: rgb(255,211,105);
}

.button-add {
    border: solid 1px #b39141;
    padding: 10px 20px;
    margin: 90px 20px;
    background: grey;
    position: block;
    font-weight: bold;
    cursor: pointer;
    font-family: arial;
    font-size: 13px;
}
.button-add:hover {
    background: #dbb761;
}
.button-add:active {
    color: white;
    background: rgb(255,211,105);
}

.button {
	background: rgba(0,255,0,0.4);
	border: solid 1px #b39141;
	padding: 10px 20px;
	margin: 10px 0;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	font-family: arial;
	font-size: 13px;
}
.button:hover {
    background: #dbb461;
}
.button:active {
    color: white;
    background: rgb(255,211,105);
}

/* === PAGE HEADER === */
header {
    width: 100%;
    background: rgba(0,255,0,0.4);
    position: absolute;
    top: 0;
    padding: 20px;
    border-bottom: 2px solid black;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#header-text {
    margin-left 3%;
    font-size: 1.5em;
}

/* === START PAGE === */
#start-view {
    width: 30%;
    min-height: 250px;
    background: rgba(255,255,255, 0.8);
    padding: 20px;
    margin-top: 30%;
    margin-bottom: 3%;
    margin-left: 3%;
    overflow: hidden;
}

/* === MAIN PAGE === */
#planning-view {
    display: none;
    width: 100%;
    position: relative;
    height: 750px;
    padding: 20px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* === ACTIVITY STUFF === */
#activity-rect {
	position: relative;
	width: 20%;
	height: 70%;
	display: inline;
	background: grey;
	padding: 20px;
	opacity: 20%;
	margin-top: 70px;
	float: left;
	border: 2px solid black;
	margin-left: 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#activity-table-head {
	background: #c4c4c4;
	border-top: 2px;
	border-bottom: 2px solid black;
	height: 40px;
	padding: 10px 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.activity-table-head-left {
    width: 49%;
    margin-left: 2px;
    float: left;
}
.activity-table-head-right {
    float: left;
}

/* FIX ACTIVITY TABLE LAYOUT */
.row {


	background:white;
	position:relative;
	border: 1px solid black;
    border-collapse: collapse;

}
/*
#activity-row {
	border: 1px solid #eee;
	width: 142px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}*/

/*
 * REMOVE ??
 * 

.table-parked {
	height: 100%;
}

#activity-table {
	height: 100%;
}*/


/* === DAY STUFF === */
#day-rect {
	position: relative;
	width: 20%;
	height: 60%;
	min-height: 350px;
	display: inline;
	background: gray;
	opacity: 20%;
	padding: 20px;
	margin-top: 70px;
	margin-left: 20px;
	float: left;
	border: 2px solid black;
	z-index:-999;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.day-content-table {
	height: 100%;
	min-height: 350px;
}

/* === POPUP === */
div#popupAddActivity {
	display: none;
	z-index: 999;
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
}
#form {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff
}
input[type=text] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}
input[type=number] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}
select {
	padding: 10px;
	width: 300px;
	margin-top: 30px;
	border: solid 1px #8b8b8b;
	font-size:16px;
}
#name {
	background-repeat:no-repeat;
	background-position:5px 7px
}
#description {
	background-repeat:no-repeat;
	background-position:5px 7px
}

